    <main>
    <section id="carrossel" class="banner banner-f1">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1> Liga E-Players</h1>
                <p> O maior portal de campeonatos online</p>
                <a href="#">Inscreva-se</a>
            </div>
        </div>
    </section>        

    <section class="jogos">
        <div class="container posicionamento-jogos">
            <img src="/assets/img/formula-1-logo-1-1 1.svg" alt="Logo da Fórmula 1">
            <img src="/assets/img/logo-lol.svg" alt="Logo League of Legends">
            <img src="/assets/img/Counter-Strike-Logo-Transparent-PNG 1.svg" alt="Logo CSS">
            <img src="/assets/img/LOGO_VALORANT.png" alt="Logo do Valorant">
            <img src="/assets/img/Logo_FIFA.png" alt="Logo Fifa">
        </div>
    </section>

    
    <section class="ofertas">
        <div class="container">
            <h2>Ofertas</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/img-jogadora.png" alt="Foto da jogadora profissional">
                    <div class="texto-cardnews">
                        <h3>Jogo do ano</h3>
                        <p class="descricao-jogo">Descrição do jogo do ano.</p>
                        <p class="preco">R$45,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="descri-ligas">
       <div class="container conteudo-descri-ligas">
           <div class="sec-ligas">
               <h3>Como participar das ligas?</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the. <br /> <br />
   
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boook.</p>         
                                 
                   
            </div> 
            <img src="/assets/img/league-of-legends-personagem.png" alt="Foto personagem lol">
                

               
           </div>
        
    </section>
    
</main>


