<header>
    <div class="container cabecalho">
        <a href="index.html"> <img class="logo" src="assets/img/Logo_eplayers.svg" alt="Logo do site E-Players"> </a>
        <nav id="menu" class="menu">
            <a href="index.html">Inicio</a>
            <a href="login.html" target="_blank">Login</a>
            <a href="#" target="_blank">Campeonato</a>
            <a href="#" target="_blank">Resultados</a>
            <a href="#" target="_blank">Noticias</a>
        </nav>

        <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="assets/img/bars-solid.svg" alt="Ícone do menu de barras"></a>
        <!-- <a href="#" id="barras"><img class="icone-menu" src="img/bars-solid.svg" alt="Ícone do menu de barras"></a> -->
        
    </div>
</header> 

<main>
<div class="div-login">
    <div class="login-itens">
        
        
        <img src="assets/img/Imagem_login.svg" alt="Imagem para login">
        <div class="form-login">
            <input id="campo-email" type="passaword" placeholder="E-mail" required> <br /> <br />
            <!-- <button>Cadastrar</button> -->
            <input id="campo-senha" type="password" placeholder="Senha" required> <br /> <br />

            <div class="botão-login">
                <button>Login</button>

            </div>


        </div>


    </div>
    
  
</div>


</main>

<footer>
<div class="container rodape">
        <div class="links-rodape">
            <div>
                <h3>Links Úteis</h3>
                <li>Regras de utilização</li>
                <li>Suporte</li>
                <li>Central de ajuda</li>
                <li>Contato</li>  
                <a href="#"><li>Home</li></a>
                <li><a href="#">Login</a></li>
            </div>
            <div>
                <h3>Páginas</h3>
                <li>Início</li>
                <li>Campeonatos</li>
                <li>Resultados</li>
                <li>Notícias</li>
                <li>Login/Cadastro</li>

            </div>
        </div>

       
            <img src="assets/img/Logo_eplayers.svg" alt="Logo do site e-players">
     

        <div class="form-social">
            
                <p>Faça parte do nosso clan, assine nossa newsletter:</p>

                <form action="">
                    <input id="campo-email" type="email" placeholder="E-mail" required>
                    <button onclick="cadastrarNewsletter()">Cadastrar</button>
                </form>
                <!-- <img src="img/formulario.png" alt=""> -->
            

            <div class="redes-sociais">
                <h2>Siga-nos em:</h2>
                <a href=""><img src="assets/img/instagram 1.png" alt="Logo instagram"></a>
                <a href=""><img src="assets/img/facebook 1.png" alt="Logo facebook"></a>
                <a href=""><img src="assets/img/youtube.png" alt="Logo youtube"></a>

            </div>


        </div>

    

</div>
</footer>