<main>
    <form (ngSubmit)="receberDados()">
        <div class="div-login">
            <div class="login-itens">
                       
                <img src="assets/img/Imagem_login.svg" alt="Imagem para login">
                <div class="form-login">
                    <input id="campo-email" type="email" name="email" placeholder="E-mail" required [(ngModel)]="userModel.email"> <br /> <br />
                    <!-- <button>Cadastrar</button> -->
                    <input id="campo-senha" type="password" name="password" placeholder="Senha" required [(ngModel)]="userModel.password"> <br /> <br />
        
                    <div class="botão-login">
                        <button type="submit">Login</button>
        
                    </div>
        
        
                </div>
        
        
            </div>
            
          
        </div>


    </form>
    <p id="mensagem" *ngIf=" mensagem != '' ">{{ mensagem }}</p>


</main>

